body {
    margin: 0;
    padding: 0;
    background: #F9F9F9;
    font-family: "Segoe UI", Arial, sans-serif;
}
.container {
    width: auto;
    height: auto;
    padding: 40px;
}
.card-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    /*justify-content: center;*/
}

/*@media (max-width: 768px) {*/
/*    .card-container {*/
/*        width: 100%;*/
/*    }*/
/*}*/